{% extends 'base.html.twig' %}

{% block title %}Painel Admin
{% endblock %}

{% block content %}
	<div
		class="content-wrapper">
		<section class="content-header">
			<h1>
				Lista de Usuários
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="/admin">
						<i class="fa fa-dashboard"></i>
						Home</a>
				</li>
				/
				<li class="active">
					<a href="/admin/users">Usuários</a>
				</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="mb-3 col-2">
								<a href="/admin/users/create" class="btn btn-block btn-primary">Cadastrar Usuário</a>
							</div>
						</div>
						<div class="card-body">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Login</th>
										<th>Admin</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										<tr>
											<td>{{ user.person.name }}</td>
											<td>{{ user.person.email }}</td>
											<td>{{ user.login }}</td>
											<td>{{ user.isAdmin ? 'Sim' : 'Não' }}</td>
											<td>
												<a href="/admin/users/{{ user.id }}" class="btn btn-primary btn-xs">
													<i class="fa fa-edit"></i>
													Editar</a>
												<a href="/admin/users/{{ user.id }}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs">
													<i class="fa fa-trash"></i>
													Excluir</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
